#my_container {
	width: 500px;
	height: 500px;
	margin: auto;
	border: 1px solid #333333;
	background: url(angles_images/angles_axis.png);
	position: relative;
}

#my_canvas {
	width: 500px;
	height: 500px;
	position: absolute;
}


#knob {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 200px;
	top: 200px;
	background: url(angles_images/angles_knob.png);
	cursor: pointer;
}


.angle {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 500px;
	height: 500px;
}


#right {
	background: url(angles_images/angles_right.png);
}


#acute {
	background: url(angles_images/angles_acute.png);
}


#obtuse {
	background: url(angles_images/angles_obtuse.png);
}


#reflex {
	background: url(angles_images/angles_reflex.png);
}


.hidden {
	display: none;
}


#degrees {
	position: absolute;
	left: 10px;
	bottom: 10px;
	font-weight: bold;
	font-size: 24px;
	color: #716fb3;
}