
#my_container {
	text-align; auto;
}

#number_line {
	width: 831px;
	height: 43px;
	background: url(EG-tns-num-s11-number_line.png);
	margin: auto;
	margin-top: 50px;
}


#question {

	font-size: 32px;
	font-weight: bold;

}


