

#my_container {
	width: 800px;
	border: 1px solid #3e4899;
	position: relative;
	margin: auto;
	margin-top: 20px;
}


#new_button {
	text-align: center;
	padding: 50px;
}


#score_container {
	width: 300px;
	background: #f2f2f2;
	border-right: 1px solid #3e4899;
	position: absolute;
	left: 0px;
	top: 0px;
}


#score {
	padding: 50px;
	font-weight: bold;
	font-size: 26px;
	text-align: center;
	color: #3e4899;
}


#tile_container {
	position: absolute;
	top: 0px;
	left: 300px;
}


.tile {
	position: absolute;
}


.tile_active {
	background: url(memory_game/door.png);
	cursor: pointer;
}


.tile_inactive {
	opacity: 0.2;
}


.tile_selected {
	border: 1px solid #116d31;
}




